<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
<!--posts-->
{% extends 'index.html' %}
{% block body %}
<!--<body>-->
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<table width="200" border="1">-->
    <!--<tr>-->
      <!--<td><a href="ManageDrivers">Add &amp; Manage Drivers </a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="ManagePlaces">Add & Manage Place</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="ManageAssign">Assign places to Drivers</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="ViewUsers">View Users</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td height="28"><a href="ManageProduct">Add & Manage Product </a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="ViewBoogingInfo">View Booking info</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="Awareness_camp_info">Awareness Camp Info</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="ManageVideos">Manufacturing Videos</a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><label>-->
        <!--<input type="submit" name="Submit" value="Login" />-->
      <!--</label></td>-->
    <!--</tr>-->
  <!--</table>-->
  <!--<a href="#"></a>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
{% endblock %}